{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'recruitme/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/login_base.css' %}">
</head>
<body>
  <form class="modal-content animate" action="" method="POST">
    <div class="imgcontainer">
      <a href="{% url 'jobs' %}"><span class="close" title="Close Modal">&times;</span></a>
      <img src="{% static 'login/images/login_avtar.png' %}" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      {% csrf_token %}
      {{form}}
      <button type="submit">Login</button>

      <label>
        <input type="checkbox" unchecked="unchecked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <!-- <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> -->
      <a type="button" href="{% url 'jobs' %}" class="cancelbtn">Cancel</a>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

<script src="{% static 'login/js/login_base.js' %}"></script>
</body>

</html>
