{% extends 'recruitme/index.html' %}

{% load static %}
{% block content %}
<section class="main-container">
    <section class="main-nav">
      <div class="mynav">
        <div class="nav-text">Dashboard</div>
        <!-- <a href="{% url 'login-signup-page' %}"><button class="btn my-2 my-sm-0"><img src="{% static 'recruitme/images/login-vector.png' %}" class="login_logo"><span>LOG IN</span></button></a> -->
      </div>
    </section>

    <section class="content">
    <div class="statusCards" style="margin-bottom: 50px;">
      <div class="card-deck" style="color: white;text-align: center;">
        <div class="card" style="background: #4cb4c7; ">
          <h5 class="card-header">Total Applied</h5>
          <div class="card-body">
            <h2 class="card-text">{{total_applied}}</h2>
          </div>
        </div>
        <div class="card" style="background: #7abecc;">
          <h5 class="card-header">Selected</h5>
          <div class="card-body">
            <h2 class="card-text">{{total_selected}}</h2>
          </div>
        </div>
        <div class="card" style="background: #7cd1c0;">
          <h5 class="card-header">Pending</h5>
          <div class="card-body">
            <h2 class="card-text">{{total_applied}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card dashboardCard" style = "margin-bottom : 50px">
    {%for app,job,process,round in applications%}
      
      <h5 class="card-header" style="text-align: center;">{{job.title}}</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-8" style="border-right: 2px solid rgb(201, 201, 201);">
            <div class="row" style="justify-content: center;">Stage: {{round.stage}}</div>
            <div class="row" style="text-align: center;margin-top: 10px;">
              <div class="col">Aptitude</div>
              <div class="col">Inteview</div>
              <div class="col">Fitment</div>
              <div class="col">HR</div>
            </div>
          </div>
          <div class="col" style="text-align: center;">Total points</div>
          <div class="col"  style="text-align: center;">Status</div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-8" >
            <div class="row" style="text-align: center;margin-top: 10px;">
              <div class="col">{{round.aptitude}}</div>
              <div class="col">{{round.interview}}</div>
              <div class="col">{{round.professional_fitment}}</div>
              <div class="col">{{round.hr}}</div>
            </div>
          </div>
          <div class="col" style="text-align: center;">{{round.total_points}}/400</div>
          <div class="col"  style="text-align: center;">
          {%if process.status%}
          Selected
          {%else%}
          Not Selected
          {%endif%}     
           
          </div>
          
      </div>
       
  </div>
  {%endfor%}


    <!-- /*****************/ -->


    </section>
  </section>
  {% endblock %}

  <!-- {% include 'recruitme/card.html'%} -->

  <!-- <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->



      <!-- /*****************/ -->


      <!--
        <div class="container" style="text-align: center;">
          <div class="row">
            <div class="col-8">
              <div class="row" style="justify-content: center;">Stage</div>
              <div class="row">
                <div class="col">Apti</div>
                <div class="col">Interview</div>
                <div class="col">Best fitment</div>
                <div class="col">HR</div>
              </div>
            </div>
            <div class="col">Total Points</div>
            <div class="col">status</div>
          </div>
        </div>



       -->