{% extends 'recruitme/index.html' %}

{% load static %}
{% block content %}
<section class="main-container">
    <section class="main-nav">
      <div class="mynav">
        <div class="nav-text">Dashboard</div>
        <!-- <a href="{% url 'login-signup-page' %}"><button class="btn my-2 my-sm-0"><img src="{% static 'recruitme/images/login-vector.png' %}" class="login_logo"><span>LOG IN</span></button></a> -->
      </div>
    </section>

    <section class="content">
    <div class="statusCards" style="margin-bottom: 50px;">
      <div class="card-deck" style="color: white;text-align: center;">
        <div class="card" style="background: #4cb4c7; ">
          <h5 class="card-header">Total Applied</h5>
          <div class="card-body">
            <h2 class="card-text">2</h2>
          </div>
        </div>
        <div class="card" style="background: #7abecc;">
          <h5 class="card-header">Selected</h5>
          <div class="card-body">
            <h2 class="card-text">6</h2>
          </div>
        </div>
        <div class="card" style="background: #7cd1c0;">
          <h5 class="card-header">Pending</h5>
          <div class="card-body">
            <h2 class="card-text">5</p>
          </div>
        </div>
      </div>
    </div>


    {% include 'jobs/dashboardAppliedCard.html' %}
    {% include 'jobs/dashboardAppliedCard.html' %}
    {% include 'jobs/dashboardAppliedCard.html' %}


    <!-- /*****************/ -->


    </section>
  </section>
  {% endblock %}

  <!-- {% include 'recruitme/card.html'%} -->

  <!-- <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->



      <!-- /*****************/ -->


      <!--
        <div class="container" style="text-align: center;">
          <div class="row">
            <div class="col-8">
              <div class="row" style="justify-content: center;">Stage</div>
              <div class="row">
                <div class="col">Apti</div>
                <div class="col">Interview</div>
                <div class="col">Best fitment</div>
                <div class="col">HR</div>
              </div>
            </div>
            <div class="col">Total Points</div>
            <div class="col">status</div>
          </div>
        </div>



       -->