{% extends 'recruitme/index.html' %}

{% load static %}
{% block content %}
<section class="main-container">
    <!-- <section class="main-nav">
      <div class="mynav">
        <div class="nav-text"></div>

      </div>
    </section> -->

    <section class="content">
      <div class="text-content" style="margin: 70px auto;">
        <div class="card w-75" style="margin: auto;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <div class="card-header" style="text-align: center;"><h4>{{Job.title}}</h2></div>
          <div class="card-body">
            <!-- <h6>job category: </h6>
            <h6>job category: </h6>
            Ea do officia ut in anim pariatur fugiat dolore elit fugiat aute. Nisi voluptate adipisicing reprehenderit nostrud consectetur amet exercitation culpa. Qui ex irure eiusmod ullamco laborum labore ea qui occaecat occaecat. Dolore eu deserunt labore do Lorem minim velit id exercitation proident. Ut velit qui aliqua minim in laborum commodo velit elit ea officia laborum labore.Magna mollit occaecat deserunt aute minim commodo ad in ipsum excepteur tempor laboris tempor non. Nisi culpa do cupidatat dolore quis anim duis laborum laborum. Adipisicing non quis minim nulla cillum ullamco consequat incididunt deserunt enim sint aliquip adipisicing dolor. Anim Lorem commodo deserunt minim. -->


            <dl class="row" style="margin:20px;" id="job-details-content">
              <dt class="col-sm-3">Job Category:</dt>
              <dd class="col-sm-9"> {{Job.jobs_category}} </dd>

              <dt class="col-sm-3">Start Date</dt>
              <dd class="col-sm-9">{{Job.start_date}} </dd>

              <dt class="col-sm-3">Apply by</dt>
              <dd class="col-sm-9"> {{Job.apply_by_date}} </dd>

              <dt class="col-sm-3">Salary</dt>
              <dd class="col-sm-9"> {{Job.salary}} LPA</dd>

              <dt class="col-sm-3">Total vacancies</dt>
              <dd class="col-sm-9"> {{Job.vacancies}} </dd>

              <dt class="col-sm-3">Job Description</dt>
              <dd class="col-sm-9">
                <p>{{Job.description}} </p>

              <dt class="col-sm-3">Contact</dt>
              <dd class="col-sm-9"> {{Job.contact}} </dd>

              <dt class="col-sm-3">Work Place</dt>
              <dd class="col-sm-9"> {{Job.workplace}}</dd>

              </dl>
            <a class="btn btn-info btn-md btn-block"id="application-btn" href="{% url 'application-form' Job.job_id %}" role="button">Create my application</a>
          </div>
          <p class="card-text" style="margin-bottom: 10px;margin-left: 25px;"><small class="text-muted">posted 3 days ago</small></p>
        </div>

        
    </div>

    </section>
</section>
{% endblock %}