{% extends 'recruitme/index.html' %}

{% load static %}
{% block content %}
<section class="main-container">
    <section class="main-nav">
      <div class="mynav">
        <div class="nav-text animated">Find your best fit job</div>
        {%if status%}
        <a href="{% url 'login-signup-page' %}"><button class="btn my-2 my-sm-0"><img src="{% static 'recruitme/images/login-vector.png' %}" class="login_logo"><span>SIGN IN</span></button></a>
        {%else%}
        <a href="{% url 'logout-page'  %}"><button class="btn my-2 my-sm-0"><img src="{% static 'recruitme/images/login-vector.png' %}" class="login_logo"><span>LOG OUT</span></button></a>
        {%endif%}
      </div>
    </section>
    <section class="content">

      {%for job in Jobs%}
      
        <div class="jobCards">
          <div class="card w-75">
              <h4 class="card-header" style="background: white;">{{job.title}}</h4>
              <div class="card-body">
                  <p class="card-text">Job ID: <span>{{job.job_id}}</span></p>
                  <p class="card-title">Job position: <span>{{job.jobs_position}}</span></p>
                  
                  <p class="card-text">Start Date: <span>{{job.start_date}}</span></p>
                  <p class="card-text">Apply Date: <span>{{job.apply_by_date}}</span></p>
                  <a href="{% url 'apply' job.job_id %}" id="more-details">Apply Now<i class='bx bxs-chevrons-right' ></i></a>
              </div>
          </div>
        </div>
      {%endfor%}
    </section>
</section>
{% endblock %}
<!-- <a href="{% url 'applicant-login-page' %}"><button class="btn my-2 my-sm-0"><img src="{% static 'recruitme/images/login-vector.png' %}" class="login_logo"><span>LOG IN</span></button></a> -->