@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200;1,300;1,400;1,500&display=swap");

nav {
  font-family: "Poppins", sans-serif;
}
.loginbtn {
  width: 123px;
  height: 45px;
  margin-right: 0px;
  margin-left: 0px;
}

.login_logo {
  position: relative;
  width: 20px;
  height: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
