<div class="jobCards">

        <div class="card w-75">
            <h5 class="card-header" style="background: white;">Job title</h5>
            <div class="card-body">
                <h5 class="card-title">Job category</h5>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
                <p class="card-text">Apply by: </p>
                <a href="#" id="more-details">More details<i class='bx bxs-chevrons-right' ></i></a>
            </div>
        </div>
        <div class="card w-75">
            <h5 class="card-header" style="background: white;">Job title</h5>
            <div class="card-body">
                <h5 class="card-title">Job category</h5>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
                <p class="card-text">Apply by: </p>
                <a href="#" id="more-details">More details<i class='bx bxs-chevrons-right' ></i></a>
            </div>
        </div>
        <div class="card w-75">
            <h5 class="card-header" style="background: white;">Job title</h5>
            <div class="card-body">
                <h5 class="card-title">Job category</h5>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
                <p class="card-text">Apply by: </p>
                <a href="#" id="more-details">More details<i class='bx bxs-chevrons-right' ></i></a>
            </div>
        </div>
        <div class="card w-75">
            <h5 class="card-header" style="background: white;">Job title</h5>
            <div class="card-body">
                <h5 class="card-title">Job category</h5>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
                <p class="card-text">Apply by: </p>
                <a href="#" id="more-details">More details<i class='bx bxs-chevrons-right' ></i></a>
            </div>
        </div>
        <div class="card w-75">
            <h5 class="card-header" style="background: white;">Job title</h5>
            <div class="card-body">
                <h5 class="card-title">Job category</h5>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
                <p class="card-text">Apply by: </p>
                <a href="#" id="more-details">More details<i class='bx bxs-chevrons-right' ></i></a>
            </div>
        </div>
        <div class="card w-75">
            <h5 class="card-header" style="background: white;">Job title</h5>
            <div class="card-body">
                <h5 class="card-title">Job category</h5>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
                <p class="card-text">Apply by: </p>
                <a href="#" id="more-details">More details<i class='bx bxs-chevrons-right' ></i></a>
            </div>
        </div>
        <div class="card w-75">
            <h5 class="card-header" style="background: white;">Job title</h5>
            <div class="card-body">
                <h5 class="card-title">Job category</h5>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
                <p class="card-text">Apply by: </p>
                <a href="#" id="more-details">More details<i class='bx bxs-chevrons-right' ></i></a>
            </div>
        </div>
</di
