<div class="card dashboardCard">
    <h5 class="card-header" style="text-align: center;">Job title</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-8" style="border-right: 2px solid rgb(201, 201, 201);">
          <div class="row" style="justify-content: center;">Stage</div>
          <div class="row" style="text-align: center;margin-top: 10px;">
            <div class="col">Aptitude</div>
            <div class="col">Inteview</div>
            <div class="col">Fitment</div>
            <div class="col">HR</div>
          </div>
        </div>
        <div class="col" style="text-align: center;">Total points</div>
        <div class="col"  style="text-align: center;">Status</div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-8" >
          <div class="row" style="text-align: center;margin-top: 10px;">
            <div class="col">--</div>
            <div class="col">--</div>
            <div class="col">--</div>
            <div class="col">--</div>
          </div>
        </div>
        <div class="col" style="text-align: center;">10/200</div>
        <div class="col"  style="text-align: center;">Not selected</div>
      </div>
    </div>
  </div>
