{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Recruitme</title>
    <link rel="stylesheet" href="{% static 'recruitme/css/global_base.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">

        <div class="logo_name"><a href="{% url 'home' %}">Recruitme</a></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="{% url 'home' %}">
          <i class='bx bx-home' ></i>
          <span class="links_name">Home</span>
        </a>

      </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>

      </li>
      <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">Profile</span>
       </a>

     </li>
    </ul>
  </div>


  <section class="main-container">
    <section class="main-nav">
      <div class="mynav">
        <div class="nav-text">Dashboard</div>
        <a href="{% url 'applicant-login-page' %}"><button class="btn my-2 my-sm-0"><img src="{% static 'recruitme/images/login-vector.png' %}" class="login_logo"><span>LOG IN</span></button></a>
      </div>
    </section>

    <section class="content">
      <div class="text-content">
        Ea do officia ut in anim pariatur fugiat dolore elit fugiat aute. Nisi voluptate adipisicing reprehenderit nostrud consectetur amet exercitation culpa. Qui ex irure eiusmod ullamco laborum labore ea qui occaecat occaecat. Dolore eu deserunt labore do Lorem minim velit id exercitation proident. Ut velit qui aliqua minim in laborum commodo velit elit ea officia laborum labore.Magna mollit occaecat deserunt aute minim commodo ad in ipsum excepteur tempor laboris tempor non. Nisi culpa do cupidatat dolore quis anim duis laborum laborum. Adipisicing non quis minim nulla cillum ullamco consequat incididunt deserunt enim sint aliquip adipisicing dolor. Anim Lorem commodo deserunt minim.
      </div>
    </section>

  </section>
  <script src="{% static 'recruitme/js/global_base.js' %}"></script>

</body>
</html>
