{% extends 'recruitme/index.html' %}

{% load static %}
{% block content %}
<section class="main-container">
    <!-- <section class="main-nav">
      <div class="mynav">
        <div class="nav-text"></div>

      </div>
    </section> -->

    <section class="content">
      <div class="text-content" style="margin: 70px auto;">
        <div class="card w-75" style="margin: auto;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <div class="card-header" style="text-align: center;"><h4>Job Title</h2></div>
          <div class="card-body">
            <!-- <h6>job category: </h6>
            <h6>job category: </h6>
            Ea do officia ut in anim pariatur fugiat dolore elit fugiat aute. Nisi voluptate adipisicing reprehenderit nostrud consectetur amet exercitation culpa. Qui ex irure eiusmod ullamco laborum labore ea qui occaecat occaecat. Dolore eu deserunt labore do Lorem minim velit id exercitation proident. Ut velit qui aliqua minim in laborum commodo velit elit ea officia laborum labore.Magna mollit occaecat deserunt aute minim commodo ad in ipsum excepteur tempor laboris tempor non. Nisi culpa do cupidatat dolore quis anim duis laborum laborum. Adipisicing non quis minim nulla cillum ullamco consequat incididunt deserunt enim sint aliquip adipisicing dolor. Anim Lorem commodo deserunt minim. -->


            <dl class="row" style="margin:20px;" id="job-details-content">
              <dt class="col-sm-3">Job Category</dt>
              <dd class="col-sm-9"> --- </dd>

              <dt class="col-sm-3">Start Date</dt>
              <dd class="col-sm-9"> --- </dd>

              <dt class="col-sm-3">Apply by</dt>
              <dd class="col-sm-9"> --- </dd>

              <dt class="col-sm-3">Salary</dt>
              <dd class="col-sm-9"> --- </dd>

              <dt class="col-sm-3">Job Description</dt>
              <dd class="col-sm-9">
                <p>Irure sit quis exercitation laborum. Esse reprehenderit non veniam veniam sunt reprehenderit fugiat enim labore ea labore enim incididunt. Non quis dolore magna exercitation reprehenderit commodo. Dolor cillum ullamco in sint ad deserunt laboris anim. Dolor Lorem non incididunt voluptate officia enim culpa. Excepteur aliqua ad exercitation magna sunt proident enim in excepteur nisi sint.Voluptate cillum eiusmod ut enim eiusmod sit id nostrud officia dolor ipsum sit anim. </p>

              <dt class="col-sm-3">Contact</dt>
              <dd class="col-sm-9"> --- </dd>

              </dl>

            <a class="btn btn-info btn-md btn-block"id="application-btn" href="{% url 'application-form' %}" role="button">Create my application</a>
          </div>
          <p class="card-text" style="margin-bottom: 10px;margin-left: 25px;"><small class="text-muted">Posted 3 days ago</small></p>
        </div>

        <!-- Ea do officia ut in anim pariatur fugiat dolore elit fugiat aute. Nisi voluptate adipisicing reprehenderit nostrud consectetur amet exercitation culpa. Qui ex irure eiusmod ullamco laborum labore ea qui occaecat occaecat. Dolore eu deserunt labore do Lorem minim velit id exercitation proident. Ut velit qui aliqua minim in laborum commodo velit elit ea officia laborum labore.Magna mollit occaecat deserunt aute minim commodo ad in ipsum excepteur tempor laboris tempor non. Nisi culpa do cupidatat dolore quis anim duis laborum laborum. Adipisicing non quis minim nulla cillum ullamco consequat incididunt deserunt enim sint aliquip adipisicing dolor. Anim Lorem commodo deserunt minim.
        Ea do officia ut in anim pariatur fugiat dolore elit fugiat aute. Nisi voluptate adipisicing reprehenderit nostrud consectetur amet exercitation culpa. Qui ex irure eiusmod ullamco laborum labore ea qui occaecat occaecat. Dolore eu deserunt labore do Lorem minim velit id exercitation proident. Ut velit qui aliqua minim in laborum commodo velit elit ea officia laborum labore.Magna mollit occaecat deserunt aute minim commodo ad in ipsum excepteur tempor laboris tempor non. Nisi culpa do cupidatat dolore quis anim duis laborum laborum. Adipisicing non quis minim nulla cillum ullamco consequat incididunt deserunt enim sint aliquip adipisicing dolor. Anim Lorem commodo deserunt minim.
        Ea do officia ut in anim pariatur fugiat dolore elit fugiat aute. Nisi voluptate adipisicing reprehenderit nostrud consectetur amet exercitation culpa. Qui ex irure eiusmod ullamco laborum labore ea qui occaecat occaecat. Dolore eu deserunt labore do Lorem minim velit id exercitation proident. Ut velit qui aliqua minim in laborum commodo velit elit ea officia laborum labore.Magna mollit occaecat deserunt aute minim commodo ad in ipsum excepteur tempor laboris tempor non. Nisi culpa do cupidatat dolore quis anim duis laborum laborum. Adipisicing non quis minim nulla cillum ullamco consequat incididunt deserunt enim sint aliquip adipisicing dolor. Anim Lorem commodo deserunt minim. -->
    </div>

    </section>
</section>
{% endblock %}