<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name"><a href="{% url 'jobs' %}">Recruitme</a></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="{% url 'jobs' %}">
          <i class='bx bx-search-alt' ></i>
          <span class="links_name">Jobs</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
       <a href="{% url 'profile' %}">
         <i class='bx bx-user' ></i>
         <span class="links_name">Profile</span>
       </a>
     </li>
    </ul>
</div>